#container {
    position:relative;
    top: 100px;
    text-align: center;
}

body {
    background-color: black;
}

#button {
    width:500px;
    height:500px;
    font-family:monospace;
    font-size:25px;
    background-color:white;
    color:black;
    border:none;
}